.mainform {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    
}

.childform {
    margin-top: 1.5rem;
}
.username{
 margin-left:3.6rem;

}
.emailaddress {
margin-left:2rem;
}
.gender{
    margin-right:4.7rem;
}
.password {
    margin-left:3.7rem;
}
.subform{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5rem;
}

.submitbutton{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}

.submitbutton button{
    background-color: blue;
    padding: 0.5rem;
    width: 8rem;
    color:white;
    border: none;
   
} 


.childform p {
    color:red;
} 

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .username{
        margin-left:1rem;
       
       }
    .emailaddress {
       margin-left:1rem;
       }
    .gender{
           margin-right:1rem;
       }
    .password {
           margin-left:1rem;
       }
  }